* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ariel', sans-serif;
}

body {
    background-color: black;
    margin: 0px;
    padding: 0;
    overflow: hidden;
}

/*(PC)*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ariel', sans-serif;
}

body {
    background-color: black;
    margin: 0px;
    padding: 0;
    overflow: hidden;
}

.video video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.btn {
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn a {
    border-radius: 20px;
    padding: 5px 35px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    text-decoration: none;
}

.video {
    position: relative;
    z-index: 0;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

h1 {
    color: #ffffff;
    letter-spacing: 10px;
    font-size: 40px;
    margin: 0;
}

/*porta*/

@media (max-width: 1200px) {
    h1 {
        font-size: 50px;
        letter-spacing: 8px;
    }

    .btn {
        font-size: 26px;
    }
}

/*tab*/

@media (max-width: 768px) {
    h1 {
        font-size: 40px;
        letter-spacing: 6px;
    }

    .btn {
        font-size: 22px;
    }

    .btn a {
        padding: 6px 30px;
    }
}

/*celuko*/

@media (max-width: 480px) {
    h1 {
        font-size: 28px;
        letter-spacing: 4px;
    }

    .btn {
        font-size: 18px;
    }

    .btn a {
        padding: 5px 20px;
    }
}


